<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Smash Upset Distance
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,900' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
  </head>

  <body>
    <div id="app">
      <h1>Hello App!</h1>

      <router-link to="/">Go to home</router-link>
      <router-link to="/path/1554284">Go to path uncalin</router-link>
      <router-link to="/path/1554">Go to path 404</router-link>

      <router-view></router-view>

    </div>

    <script type="text/x-template" id="search-page-template">
      <div>
        SearchPage
        <input v-model="search_term" @keyup="fetchData">
        <span v-if="loading">Loading...</span>
        <div v-if="no_results">
          No players found
        </div>
        <li v-for="player in players" :key="player.id">
          <router-link :to="'/path/' + player.id">
            {{ player.tag }}
            <img v-if="player.main_character" :src="'https://smashdata.gg/static/assets/stock_icons/ultimate/' + player.main_character + '_0.png'"></img>
            <div>
              Last tournament : <span v-if="player.last_tournament"> {{ player.last_tournament.name }} </span><span v-else>Unknown</span>
            </div>
          </router-link>
        </li>
        <div v-if="error" class="error">
          {{ error }}
        </div>
      </div>
    </script>

    <script type="text/x-template" id="path-page-template">
      <div class="path">
        <div v-if="loading" class="loading">
          Loading...
        </div>

        <div v-if="error" class="error">
          {{ error }}
        </div>

        <div v-if="not_found" class="error">
          Not found !
        </div>

        <div v-if="path" class="content">
          {{ path }}
        </div>
      </div>
    </script>

    <script src="app.js"></script>
  </body>
</html>
