<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Smash Upset Distance
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href='style.css' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
  </head>

  <body>
    <div class="main-container">
      <div class="background-col">
        <img src="background-left.jpg"></img>
      </div>
      <div class="main-col">
        <div id="app">
          <header>
            <router-link to="/">Logo</router-link>
            <router-link to="/">Home</router-link>
            <router-link to="/path/1554284">Uncalin</router-link>
            <router-link to="/path/1554">404</router-link>
            <router-link to="/">Info</router-link>
          </header>

          <div class="content-container">
            <router-view></router-view>
          </div>

          <footer>
            <div class='footer__line'>
              <router-link to="/">The Upset Distance</router-link> -
              <router-link to="/">Credits</router-link> -
              <router-link to="/">Github</router-link>
              <span class="d-none d-md-inline"> - </span>
              <router-link to="/" class="d-none d-md-inline">Made with love by @UnCalinSSB</router-link>
            </div>
            <div class='footer__line d-md-none'>
              <router-link to="/">Made with love by @UnCalinSSB</router-link>
            </div>
          </footer>
        </div>
      </div>
      <div class="background-col">
        <img src="background-right.jpg"></img>
      </div>
    </div>

    <script type="text/x-template" id="search-page-template">
      <div class="search-page">
        <h2>How many wins away are you from MkLeo&nbsp;?</h2>
        <p>Did you beat someone who've beaten MkLeo&nbsp;?</p>
        <p>Or maybe you beat someone who've beaten someone who've beaten MkLeo&nbsp;?</p>
        <h3>Get your MkLeo upset distance now&nbsp;!</h3>
        <input placeholder="Search for your player tag" class="search-page__input" v-model="search_term" @keyup="fetchData">
        <div v-if="search_term" class="search_box">
          <span v-if="loading">Loading...</span>
          <div v-if="no_results">
            No players found
          </div>
          <ul>
            <li v-for="player in players" :key="player.id">
              <router-link :to="'/path/' + player.id" class="player-result">
                <div class="player-result__box">
                  <div class="player-result__tag-container">
                    <b class="player-result__tag">{{ player.tag }}</b>
                    <img v-if="player.main_character" class="player-result__main-char" :src="'https://smashdata.gg/static/assets/stock_icons/ultimate/' + player.main_character + '_0.png'"></img>
                  </div>
                  <div class="player-result__last-tournament">
                    Last tournament : <span v-if="player.last_tournament"> {{ player.last_tournament.name }} </span><span v-else>Unknown</span>
                  </div>
              </div>
              </router-link>
            </li>
          </ul>
          <div v-if="error" class="error">
            {{ error }}
          </div>
        <div>
      </div>
    </script>

    <script type="text/x-template" id="path-page-template">
      <div class="path">
        <div v-if="loading" class="loading">
          Loading...
        </div>

        <div v-if="error" class="error">
          {{ error }}
        </div>

        <div v-if="not_found" class="error">
          Not found !
        </div>

        <div v-if="no_path" class="error">
          No Path !
        </div>

        <div v-if="path" class="content">
          <ul>
            <li v-for="node in path">
              <player-box :id="node.upset.winner.id" :tag="node.upset.winner.tag" :maincharacter="node.upset.winner.main_character"></player-box>
              <div>
                {{ node.upset.winner.tag }} -
                {{ node.upset.winner_score }} -
                {{ node.upset.tournament.name }} -
                {{ node.upset.tournament.start_date }} -
                {{ node.upset.loser_score }} -
                {{ node.upset.loser.tag }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="player-box-template">
      <div class="player_box">
        <div class="name">
          <b>{{ tag }}</b><img v-if="maincharacter" :src="'https://smashdata.gg/static/assets/stock_icons/ultimate/' + maincharacter + '_0.png'"></img>
        </div>
        <div v-if="twittertag" class="content">
          {{ twittertag }}
        </div>
      </div>
    </script>

    <script src="app.js"></script>
  </body>
</html>
