
/* PATH PAGE */


.path-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
}

.path-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.path-list__pipe {
  color: grey;
  margin: 4px;
  font-size: 0.9em;
}

.player-box {
  background-color: #0d1010;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid grey;
}

.player-box__name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.player-box__name > img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: -3px;
}

.player-box__twittertag {
  font-size: 0.8em;
  margin-top: 5px;
}

.player-box__twittertag > a {
  color: #59bdcd;
}

.tournament-box {
  width: 100%;
}

.tournament-box__name {
  font-weight: 100;
}

.tournament-box__date {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 100;
}

.tournament-box__result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tournament-box__result-half {
  display: flex;
  align-items: center;
  flex: 1;
}

.tournament-box__result-half.--left {
  justify-content: flex-end;
}

.tournament-box__result-half.--right {
  justify-content: flex-start;
}

.tournament-box__player-tag {
  font-weight: 600;
  margin: 0 4px;
}

.tournament-box__player-score {
  font-weight: 900;
  font-size: 1.3em;
  margin: 0 4px;
}

.tournament-box__player-score.--winner {
  color: #7fcc4d;
}

.tournament-box__player-score.--loser {
  color: #d03e3e;
}

.tournament-box__character {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.path-list__mkleo {
  height: 300px;
  width: 300px !important;
  position: relative;
}

.path-list__mkleo > .player-box {
  font-size: 1.7em;
  padding: 25px 100px 30px 40px;
  margin-top: 50px;
  margin-right: 70px;
}

.path-list__mkleo > .player-box > .player-box__twittertag {
  text-align: left;
  font-size: 0.5em;
}

.path-list__mkleo-joker {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 100px;
}
